.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 45px var(--horizontal-space);
  align-items: center;
  margin-bottom: 10px;
}
.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}
.screen-header__icons {
  position: relative;
}
.screen-header__icons span {
  color: rgba(0, 0, 0, 0.7);
  margin-left: 25px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 2s linear infinite;
}
